
.Home {
    margin: 10px;
    padding: 10px;
}

.Home-row {
    color: #D5F5E3;
}

.Home-table {
    color: #D5F5E3;
}

.Home-button {
    background-color: #D5F5E3;
    color: #0A5768;
    border-color: #0A5768;
}

.Home-button:hover {
    background-color: #0A5768;
    color: #D5F5E3;
    border-color: #D5F5E3;
}

.Home-button:active {
    background-color: #0A5768;
    color: #D5F5E3;
    border-color: #D5F5E3;
}

.Home-button:focus {
    background-color: #0A5768;
    color: #D5F5E3;
    border-color: #D5F5E3;
}

.Home-button:active:focus {
    background-color: #0A5768;
    color: #D5F5E3;
    border-color: #D5F5E3;
}

.Home-button-active {
    background-color: #0A5768;
    color: #D5F5E3;
    border-color: #D5F5E3;
}

.Home-input-group-text {
    background-color: #0A5768;
    color: #D5F5E3;
    width: 120px;
}
